.navbar {
    background-color: #1D0807;
}

.navbar .nav-link{
    color: #DBCDAF;
}

.navbar .navbar-brand{
    color: #DBCDAF;
    font-family: Aloja;
}

body{
    background-color: #DBCDAF;
}

footer{
    background-color: #1D0807;
    color: #DBCDAF;
}
